@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.bill-seat{
	
}
.customer{
  cursor: pointer;
}
.customer:hover{
  background-color : #B1D0E0;
  border-color : #406882;
}
.active {
    background-color: #C3C3C4;
    background: linear-gradient(180deg, #1326D6, #BDBEC0);
}

.content{
    position: relative;
    font-family: 'Poppins', sans-serif;
}

#customer-table {
    font-family: 'Poppins', sans-serif;
    border-collapse: collapse;
    width: 100%;
    counter-reset: Serial; 
}

#customer-table th {
    border: 1px solid #ddd;
    background: linear-gradient(180deg, rgb(196, 196, 196), rgb(154, 154, 154));
}

thead tr{
    height: 30px;
}

#customer-table tr td:first-child:before{
    counter-increment: Serial;      
	content: counter(Serial); 
}
  
#customer-table td, #customer-table th {  
    padding: 8px;
}
  
/* #customers tr:nth-child(even){background-color: #f2f2f2;} */
  
#customer-table th {
    text-align: center;
    background-color: #AEB1B4;
    color: #1a150e;
}

tbody tr{
    background-color: rgb(255,249,249);
    height: 80px;
    border-bottom: 3px solid rgb(196, 196, 196);
}

tbody tr td{
    text-align: center;
}

#bill{
    position: absolute;
    border-radius: 30px;
    width: 800px;
    height: 500px;
    background: rgb(196, 196, 196);
    top: 80px;
    left: 240px;
    display: none;
}

#bill h2{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    left: 100px;
    margin-left: 100px;
}

#bill h3{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    margin-left: 25px;
}

#bill button{
    border: none;
    position: absolute;
    height: 35px;
    padding: 5px 25px;
    font-size: 20px;;
    border-radius: 15px;
    color: white;
    cursor: pointer;
}

#bill #edit-btn{
    left: 15px;
    background: rgb(72,72,72);
}

#bill #delete-btn{
    left: 150px;
    color: black;
}

#bill #done-btn{
    left: 60px;
    bottom: 20px;
    background: black;
}

#bill #add-btn{
    right: 150px;
    bottom: 130px;
    background: rgb(72,72,72);
}

#bill #pay-btn{
    right: 20px;
    background: rgb(72,72,72);
}

#bill #edit-btn,
#bill #delete-btn,
#bill #pay-btn{
    bottom: 90px;
}

#bill div{
    display: flex;
}

#bill span{
    font-family: 'Poppins', sans-serif;
    font-size: 21px;
    margin-left: 6px;
}

#dish-list{
    position: absolute;
    background: white;
    border-radius: 15px;
    width: 350px;
    height: 300px;
    right: 15px;
    top: 15px;
    overflow: scroll;
}

#create-btn{
    color: white;
    font-family: 'Poppins', sans-serif;
    height: 60px;
    width: 120px;
    border: none;
    border-radius: 25px;
    background: rgb(72,72,72);;
    font-size: 21px;
    /* font-weight: 500; */
    position: fixed;
    right: 100px;
    bottom: 30px;
    cursor: pointer;

}

#new{
    position: absolute;
    border-radius: 30px;
    width: 450px;
    height: 500px;
    background: rgb(196, 196, 196);
    top: 70px;
    left: 400px;
    display: none;
}

#new h2{
    text-align: center;
    margin-top: 15px;
    font-weight: 600;
}

#new h3{
    font-size: 15px;
    margin-left: 50px;
    font-weight: 500;
}

#new input{
    border: none;
    height: 30px;
    margin-bottom: 25px;
    margin-top: 15px;
    margin-left: 40px;
    width: 80%;
    padding : 5px;
}



#edit{
    position: absolute;
    border-radius: 30px;
    width: 450px;
    height: 500px;
    background: rgb(196, 196, 196);
    top: 70px;
    left: 400px;
    display: none;
}

#edit h2{
    text-align: center;
    margin-top: 15px;
    font-weight: 600;
}

#edit h3{
    font-size: 15px;
    margin-left: 50px;
    font-weight: 500;
}

#edit input{
    border: none;
    height: 30px;
    margin-bottom: 25px;
    margin-top: 15px;
    margin-left: 40px;
    width: 80%;
}

#edit button{
    color: white;
    font-size: 29px;
    font-weight: 500;
    height: 45px;
    width: 120px;
    border: none;
    border-radius: 30px;
    background: rgb(72,72,72);;
    position: absolute;
    left: 178px;
    bottom: 20px;
    cursor: pointer;
}

#delete{
    color: white;
    position: absolute;
    border-radius: 30px;
    width: 550px;
    height: 130px;
    background: rgb(61, 61, 61);
    top: 240px;
    left: 370px;
    display: none;
}

#delete h3{
    text-align: center;
    font-weight: 500;
    margin-top: 15px;
}

#delete button{
    border: none;
    border-radius: 30px;
    color: black;
    position: absolute;
    height: 35px;
    width: 80px;
    bottom: 27px;
    cursor: pointer;
    font-size: 18px;
}

#delete-yes-btn{
    background: white;
    left: 100px;
}

#delete-no-btn{
    background: rgb(196, 196, 196);
    right: 100px;
}

#pay{
    color: white;
    position: absolute;
    border-radius: 30px;
    width: 550px;
    height: 150px;
    background: rgb(61, 61, 61);
    top: 200px;
    left: 370px;
    display: none;
}

#pay h5{
    font-weight: 500;
    margin-left: 25px;
}

#pay #pay-code{
    margin-top: 12px;
}

#pay button{
    border: none;
    border-radius: 30px;
    color: black;
    position: absolute;
    height: 35px;
    width: 180px;
    bottom: 27px;
    cursor: pointer;
    font-size: 15px;
}

#pay-cash-btn{
    background: rgb(196, 196, 196);
    left: 40px;
}

#pay-atm-btn{
    background: rgb(196, 196, 196);
    right: 40px;
}

#pay-cash{
    color: white;
    position: absolute;
    border-radius: 30px;
    width: 300px;
    height: 150px;
    background: rgb(61, 61, 61);
    top: 200px;
    left: 470px;
    display: none;
}

#pay-cash h4{
    font-weight: 500;
    text-align: center;
    margin-top: 10px;
}

#pay-cash input{
    border: none;
    background: rgb(196, 196, 196);
    display: block;
    position: relative;
    margin: 15px auto;
    height: 38px;
    width: 185px;
}

#pay-cash button{
    border: none;
    border-radius: 30px;
    color: black;
    position: absolute;
    height: 25px;
    width: 40px;
    bottom: 27px;
    cursor: pointer;
    font-size: 15px;
    left: 130px;
}

#pay-cash-conf{
    color: white;
    position: absolute;
    border-radius: 30px;
    width: 300px;
    height: 200px;
    background: rgb(61, 61, 61);
    top: 200px;
    left: 470px;
    display: none;
}

#pay-cash-conf h4{
    font-weight: 500;
    margin-top: 20px;
    margin-left: 25px;
    margin-bottom: 30px;
}

#pay-cash-conf button{
    border: none;
    border-radius: 30px;
    color: black;
    position: absolute;
    height: 45px;
    width: 185px;
    bottom: 27px;
    cursor: pointer;
    left: 65px;
    background: rgb(196, 196, 196);
    font-size: 18px;
    font-weight: 600;
}

#pay-atm{
    color: white;
    position: absolute;
    border-radius: 30px;
    width: 300px;
    height: 300px;
    background: rgb(61, 61, 61);
    top: 160px;
    left: 490px;
    display: none;
}

#pay-atm h4{
    font-weight: 500;
    margin-top: 22px;
    margin-left: 35px;
}

#pay-atm input{
    border: none;
    background: rgb(196, 196, 196);
    display: block;
    position: relative;
    margin: 15px auto;
    height: 38px;
    width: 185px;
}

#pay-atm button{
    border: none;
    border-radius: 30px;
    background: black;
    color: white;
    position: absolute;
    height: 38px;
    width: 170px;
    bottom: 27px;
    cursor: pointer;
    font-size: 15px;
    left: 63px;
}

#select-table{
    position: absolute;
    border-radius: 30px;
    width: 560px;
    height: 538px;
    background: rgb(196, 196, 196);
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    top: 65px;
    /* top: 80px;
    left: 240px; */
    display: none;
}

#select-table h2{
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

#select-table>div{
    background: white;
    /* border-radius: 15px; */
    width: 517px;
    height: 351px;
    margin-left: 21.5px;
    overflow-y: scroll;
}

#select-table>button{
    font-size: 30px;
    color: white;
    background: rgb(72, 72, 72);
    border: none;
    border-radius: 35px;
    position: absolute;
    height: 48px;
    width: 125px;
    margin-top: 30px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}

#select-table ul input{
    margin: auto;
}

#select-table ul p{
    margin: auto;
}

#select-table li{
    display: flex;
    /* position: absolute; */
    margin-top: 25px;
    margin-left: 5px;
}

#select-table span.table-free{
    display: block;
    background: rgb(0, 255, 0);
    width: 90px;
    height: 38px;
    margin: 0 8px;
    text-align: center;
}
#select-table span.table-reserved{
    display: block;
    background: rgb(255, 255, 0);
    width: 90px;
    height: 38px;
    margin: 0 8px;
    text-align: center;
}


#select-table p.table-name{
    position: absolute;
    top: 35px;
    left: 73px;
}

/* The container */
.container {
    display: flex;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 7px;
    left: 7px;
    height: 25px;
    width: 25px;
    background-color: #eee;
  }
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: #2196F3;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

#new #new-select-btn{
    font-size: 17px;
    color: white;
    height: 30px;
    width: 90px;
    border: none;
    background: rgb(72,72,72);
    cursor: pointer;
}


#new #new-done-btn{
    color: white;
    font-size: 29px;
    font-weight: 500;
    height: 45px;
    width: 120px;
    border: none;
    border-radius: 30px;
    background: rgb(72,72,72);
    position: absolute;
    left: 60px;
    bottom: 20px;
    cursor: pointer;
}

#new #cancel-new-btn{
	text-align: center;
    color: white;
    font-size: 25px;
    font-weight: 500;
    height: 45px;
    width: 120px;
    border: none;
    border-radius: 30px;
    background: rgb(72,72,72);
    position: absolute;
    right: 60px;
    bottom: 20px;
    cursor: pointer;
}
#done-select-table{
	text-align: center;
    color: white;
    font-size: 25px;
    font-weight: 500;
    height: 45px;
    width: 120px;
    border: none;
    border-radius: 30px;
    background: rgb(72,72,72);
    position: absolute;
    left : 180px;
    bottom: 20px;
    cursor: pointer;
}