* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.active {
    background-color: #C3C3C4;
    background: linear-gradient(180deg, #1326D6, #BDBEC0);
}

li {
    list-style: none;
}

.new_event {
    width: 420px;
    top: 25%;
    left: 42%;
    padding: 15px 25px;
    position: absolute;
    border-radius: 45px;
    background-color: rgba(250, 160, 150, 0.95);
    display: none;
    z-index: 1000;
}

.new_event ul li {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.new_event ul li span {
    padding: 10px 5px;
    height: 30px;
    font-weight: 350;
    text-align: center;
    margin: 5px 0;
}
.text {
    width: 200px;
    font-size: 18px;
    padding: 10px 5px;
    display: block;
    height: 30px;
    border: 2px solid rgba(255, 255, 255, 0);
    overflow: hidden;
    margin: 10px 0;
    transition: all 0.5s ease-in-out;
}
.text:focus {
    outline: 0;
    border: 2px solid rgba(60, 70, 200, 0.5);
}

#create_event {
    cursor: pointer;
    padding: 25px 45px;
    background-color: #484848;
    border-radius: 35px;
    font-size: 22px;
    font-weight: 350;
    color: #fff;

    position: fixed;
    bottom: 30px;
    right: 60px;

    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    z-index: 500;
}

#poster_upload {
    font-weight: 400;
    padding: 0 5px;
}
.new_event button {
    cursor: pointer;
    display: block;
    padding: 2px 10px;
    border-radius: 25px;
    border: none;
}

.discount > li > p {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.discount li span {
    font-weight: normal;
    margin:0;
    margin-bottom: 5px;
}
.discount > li > p input {
    width: 40px;
    height: 20px;
    margin: 0 5px;
}

.end_popup {
    margin-top: 15px;
    display: flex;
    justify-content: space-evenly;
}
.end_popup button {
    padding: 5px 15px;
    background-color: #3f3f3f;
    color: #fff;
    border-radius: 25px;
    font-size: 20px;
}
.end_popup button:hover {
    background-color: black;
    color: white;
}

.event {
    display: flex;
    margin: 30px 30px;
    flex-wrap: wrap;
}

.event-item {
    margin-right: 20px;
}

.event-item img {
    width: 270px;
    height: 200px;
    border-radius: 40px;
}

.event-item span {
    display: block;
    text-align: center;
}

#poster_upload label {
    background-color: #fff;
    font-size: 13px;
    padding: 3px;
    border-radius: 15px;
}

/* event-info-popup */
.event-info-popup {
    background-color: #F7A298;
    height: auto;
    max-height: 600px;
    width: 400px;
    position: fixed;

    left: 50%;
    top: 50%;
    transform: translate(-25%, -50%);
    border-radius: 30px;

    padding: 25px;

    display: none;
}

.event-info-popup h2 {
    text-align: center;
    margin-bottom: 25px;
    font-weight: 500;
}

.event-info-popup ul li {
    margin-bottom: 16px;
    font-size: 16px;
}

.event-info-popup ul li p {
    /* display: inline-block; */
    background-color: #fff;
    color: #000;
    padding: 5px 10px;
    margin: 15px 0;
}

.event-info-popup div{
    text-align: center;
}

.event-info-popup div button {
    margin-right: 25px;
    padding: 5px 15px;
    background-color: #3f3f3f;
    color: #fff;
    border-radius: 25px;
    font-size: 18px;
}