<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="http://localhost:8080/css/main.css">
	<link rel="stylesheet" href="http://localhost:8080/css/bill.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link href="//fonts.googleapis.com/css?family=Roboto:300,400,700&subset=vietnamese" rel="stylesheet">
	<title>Bill</title>
</head>

<body>
	<div id="container">
		<header>
			<h1 class="logo">
				<a href="#">Manager</a>
				
				
			</h1>
			<form th:action="@{/searchBill}" method="GET">
				<div class="search" >
					
					<input type="text" placeholder="search" th:value="${searchvalue}" th:name="customerName">
					<button type ="submit" style ="color : fff;">
						<i class="material-icons">search</i>
					</button>
				</div>
			</form >
			<div class="home">
				<a href="#">
					<i class="material-icons">home</i>
				</a>
			</div>
		</header>

		<div id="main">
			<div class="menu">
				<ul>
					<li>
						<a href="/table">
							<i class="material-icons">event_seat</i>
							<span>Seat</span>
						</a>

					</li>

					<li>
						<a href="/menu">
							<i class="material-icons">menu</i>
							<span>Menu</span>
						</a>
					<li>
						<a href="/event">
							<i class="material-icons">event_available</i>
							<span>Event</span>
						</a>

					</li>
					<li>
						<a href="/membership">
							<i class="material-icons">person</i>
							<span>Membership</span>
						</a>

					</li>


					<li>
						<a href="/report">
							<i class="material-icons">note_alt</i>
							<span>Report</span>
						</a>

					</li>

					<li class="active">
						<a href="#">
							<i class="material-icons">receipt_long</i>
							<span>Bill</span>
						</a>

					</li>

				</ul>
			</div>

			<div class="content">
				<table id="customer-table">
					<thead>
						<th>No.</th>
						<th>Bill ID</th>
						<th>Customer</th>
						<th>Table</th>
						<th>Money</th>
						<th>Status</th>
					</thead>
					<tbody class="customer-list">
						<tr class="customer" th:each="bill,bill_index : ${bills}">
							<td th:id="${bill_index.index}" th:data-billid="${bill.billId}"
								th:data-phone="${bill.customer.telephone}"
								th:data-customer="${bill.customer.customerName}" 
								th:data-total="${bill.finalTotal}"
								th:data-statuspayment="${bill.statusPayment}"
								th:data-memberank="${bill.customer.membership.name}"
								th:data-createdtime="${bill.createdDate}"
								th:data-eventdiscountrate="${bill.event?.discountRate}?:'0'"
								th:data-memberdiscountrate= "${bill.customer.membership.discountRate}"></td>
							<td th:text="${bill.billId}"></td>
							<td th:text="${bill.customer.customerName}"></td>
							<p th:id="'dish-in-bill'+${bill.billId}" type="hidden">
								<span th:each="billdetail : ${bill.billDetails}" th:if="${billdetail.dish} != null"
									th:data-dishid="${billdetail.dish.dishId}"
									th:data-quantity="${billdetail.quantity}">
								</span>
							</p>
							<p th:id="'combo-in-bill'+${bill.billId}" type="hidden">
								<span th:each="billdetail : ${bill.billDetails}" th:if="${billdetail.combo} != null"
									th:data-comboid="${billdetail.combo.comboId}"
									th:data-quantity="${billdetail.quantity}">
								</span>
							</p>

							<td th:id="${'table'+bill_index.index}">
								<p th:each="table : ${bill.tables}">
									<span th:text="${table.tableName}"></span>
								</p>
							</td>
							<td th:text="${bill.finalTotal}"></td>
							<td>
								<p th:if="${bill.statusPayment}">
									<span th:text="'Pay at '+ ${bill.timePayment}"></span>
								</p>
								<p th:unless="${bill.statusPayment}">
									<span>Waiting </span>
								</p>
							</td>

						</tr>
					</tbody>
				</table>

				<button id="create-btn">Create</button>

				<div id="bill">
					<h2>Infomation</h2>
					<div style="width: 53%;display:block;">	
						<div class="bill-id">
							<h3 class="popup-bill-id">ID:</h3>
							<span></span>
						</div>
						<div id="bill-name">
							<h3 class="popup-bill-name">Name: </h3>
							<span></span>
						</div>
						<div id="bill-phone">
							<h3 class="popup-bill-phone">Phone:</h3>
							<span></span>
						</div>
						<div id="bill-rank">
							<h3 class="popup-bill-rank">Member Rank:</h3>
							<span></span>
						</div>
						<div id="bill-seat">
							<h3>Seat:</h3>
							<span class="popup-bill-seat"></span>
						</div>
						<div id="bill-total">
							<h3 class="popup-bill-total">Total: </h3>
							<input type="hidden"  id="discoutrate" value="0">
							<span style="color:springgreen; font-weight: bold;text-shadow: 
							2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 
							1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;"></span >
							<del style="left: 500px;padding-left: 20px;color:red"> </del>
						</div>
	
						<div id="bill-creation-time">
							<h3 class="popup-bill-creation-time">Created:</h3>
							<span></span>
						</div>
						<div id="bill-completion-time">
							<h3 class="popup-bill-completion-time">Status:</h3>
							<span></span>
						</div>
					</div>
					<form th:action="@{/addDishtobill}" method="POST">
						<input id="bill-id-for-dish" type="hidden" th:name="billId">
						<li class="dish-list">

						</li>
						<button id="save-dish" type="submit">Save</button>
					</form>
					<button id="edit-btn">Edit</button>
					<button id="delete-btn">Delete</button>
					<button id="done-btn">Done</button>
					<button id="add-btn">Add/Remove Dishes</button>
					<button id="pay-btn">Checkout</button>
				</div>

				<form th:action="@{/newBill}" method="POST">
					<div id="new">
						<h2>Create a new bill</h2>
						<h3>Customer’s name</h3>

						<input id="name-input" type="text" placeholder="Enter Name" th:name="customerName">
						<h3>Phone</h3>
						<input id="phone-input" type="text" placeholder="Enter Phone" th:name="phone">
						<h3>Customer’s ID </h3>
						<input id="code-input" type="text" placeholder="Enter Customer's ID'" th:name="customerId">
						<h3>Seat</h3>
						<span id="checked-table"></span>

						<div id="new-select-btn">Select</div>
						<!--<input id="seat-input" type="text"> -->
						<button id="new-done-btn" type="submit">Done</button>
						<div id="cancel-new-btn"> Cancel</div>
						<div class = "pop-select-table" id="select-table">
							<h2>Select table</h2>
							<div>
								<ul>
									<li th:each="table : ${tables}" th:switch="${table.status}">
										
										<label class="container" th:case="reserved" style="margin-top: 25px;">
											<span class="table-reserved"></span>
											<p class="table-name" th:text="${table.tableName}"></p>
											<p th:text="'Reserved by: ' + ${table.guestName }"></p>
											<input class="checkbox-table" th:data-name="${table.tableName}"
												th:data-customername="${table.guestName}" id="${table.tableId}"
												th:data-customerphone="${table.telephone}" type="checkbox"
												name="selectTables" th:value="${table.tableId}" />
											<span class="checkmark"></span>
										</label>
										<label class="container" th:case="available" style="margin-top: 25px;">
											<span class="table-free"></span>
											<p class="table-name" th:text="${table.tableName}"></p>
											<p>Available</p>
											<input class="checkbox-table" th:data-name="${table.tableName}"
												type="checkbox" name="selectTables" th:value="${table.tableId}" />
											<span class="checkmark"></span>
										</label>
									</li>
								</ul>
							</div>
							<a id="done-select-table" onclick="getCustomerInfo()">
								Done
							</a>
						</div>

					</div>
				</form>
				<div id="dish-select">
					<h2>Select Dish</h2>
					<div >
						<ul style="padding:20px;">
							<li class="ulDish" th:each="dish, dish_index: ${dishes}" >
								<img th:src="@{'getimage/'+${dish.url}}" alt="" 
								 style ="max-width:25%; max-height:100%;position:absolute" >
						
								<span class="dish-name" th:id="'dish' + ${dish.dishId}" th:text="${dish.getDishName()}"
								 style ="left:30%; top :3%;position:absolute;font-size: 20px;font-weight: bold;" >
								</span>
								<span th:text="${dish.price} + ' đ'"
								 style ="left:30%; top:60%;position:absolute;    padding: 0;
									    margin: 0;
									    box-sizing: border-box;
									    font-family: 'Poppins', sans-serif;
									    font-size: 18px;
									    margin-left: 6px;
									    color: springgreen;
									    text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 
																1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;" >
								</span>
			
								<input type="checkbox" class="dish-checkbox" th:id="'dishcheckbox'+${dish.dishId}"
									style ="left:60%; top:50%;margin-top:-15px;width: 30px;height:30px; position:absolute" name="dish-checkbox">

								<input type="number" class="quantityDish" th:id="'dishnumber'+${dish.dishId}"
									style="display:none" name="quantityDish" min="1"  
									onchange="updateTotal()" onkeyup="updateTotal()"  required >
								<input type="hidden" name="dishId" th:value="${dish.dishId}" >
								</li>
							</ul>
						<br>
						<ul style="padding:20px">
							<h2 style="border-bottom: 1px solid ;"> Combo</h2 >
							<li class="ulDish" th:each="combo, combo_index: ${combos}">

								<img th:src="@{'getimage/'+${combo.url}}" alt=""
									 style ="max-width:25%; max-height:100%;position:absolute">
								<span class="dish-name" th:id="'combo' + ${combo.comboId}"
									th:text="'Combo: '+${combo.comboName}"
									 style ="left:30%; top :3%;position:absolute;font-size: 20px;font-weight: bold;" >>

								</span>
								<span th:text="${combo.price} + 'đ'" 
								style ="left:30%; top:60%;position:absolute;    padding: 0;
									    margin: 0;
									    box-sizing: border-box;
									    font-family: 'Poppins', sans-serif;
									    font-size: 18px;
									    margin-left: 6px;
									    color: springgreen;
									    text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 
																1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;" >
								
								</span>
								<input type="checkbox" class="dish-checkbox" th:id="'combocheckbox'+${combo.comboId}"	name="combo-checkbox"
									style ="left:60%; top:50%;margin-top:-15px;width: 30px;height:30px; position:absolute" >

								<input type="number" class="quantityDish" th:id="'combonumber'+${combo.comboId}"
									 name="quantityCombo" min="1"  onchange="updateTotal()" onkeyup="updateTotal()"required
									style="display:none"    >
								<input type="hidden" name="comboId" th:value="${combo.comboId}" >
								</li>
							</ul>
					</div >
					<button id="done-select-dish">
						Done
					</button>
				</div>
				<form  th:action="@{/editBill}" method="POST">
				<div id="edit">
					<h2>Edit</h2>
					<h3>Customer’s name</h3>
					<input type="hidden" id="edit-bill-id" th:name="billId">
					<input type="text" id="edit-name" th:name="customerName">
					<h3>Phone</h3>
					<input type="text" id="edit-phone" th:name="phone">

					<h3>Seat</h3>
					<button id="cancel-edit" type="button" style="left:300px">Cancel </button>
					<button id="edit-table-btn" type="button" style="left:40px;bottom:190px;">Select </button>
					<button id="edit-done-btn" type="submit" style="left:30px">Done</button>
					<div class="pop-select-table" id="edit-select-table">
							<h2>Select table</h2>
							<div>
								<ul>
									<li th:each="table : ${tables}" th:switch="${table.status}">
									<div th:case="occupied" class = "occupied"
										 th:name= "occupied+${table.billId}" style="display:none;">
										<label class="container"  >
											<span class="table-occupied"></span>
											<p class="table-name" th:text="${table.tableName}"></p>
											<p th:text="'Occupied by: ' + ${table.guestName }"></p>
											<input class="checkbox-table" th:data-name="${table.tableName}"
												th:data-customername="${table.guestName}" id="${table.tableId}"
												th:data-customerphone="${table.telephone}" type="checkbox"
												name="selectTables" th:value="${table.tableId}"  / >
											<span class="checkmark"></span>
										</label>
									</div >
										<label class="container" th:case="reserved">
											<span class="table-reserved"></span>
											<p class="table-name" th:text="${table.tableName}"></p>
											<p th:text="'Reserved by: ' + ${table.guestName }"></p>
											<input class="checkbox-table" th:data-name="${table.tableName}"
												th:data-customername="${table.guestName}" id="${table.tableId}"
												th:data-customerphone="${table.telephone}" type="checkbox"
												name="selectTables" th:value="${table.tableId}" />
											<span class="checkmark"></span>
										</label>
										<label class="container" th:case="available">
											<span class="table-free"></span>
											<p class="table-name" th:text="${table.tableName}"></p>
											<p>Available</p>
											<input class="checkbox-table" th:data-name="${table.tableName}"
												type="checkbox" name="selectTables" th:value="${table.tableId}" />
											<span class="checkmark"></span>
										</label>
									</li>
								</ul>
							</div>
							<a id="done-edit-table" >
								Done
							</a>
						</div >
				</div>
				</form>

				<div id="delete">
					<h3>Do you really want to delete this bill?</h3>
					<button>
						<a id="delete-yes-btn" href="#" method="GET"> Yes</a>
					</button>
					<button id="delete-no-btn">No</button>
				</div>

				<div id="pay">
					<h5 id="pay-code">Code</h5>
					<h5>Money</h5>
					<button id="pay-cash-btn">Payment in cash</button>
					<button id="pay-atm-btn">Pay by ATM card</button>
				</div>

				<div id="pay-cash">
					<h4>Amount paid by customer</h4>
					<input type="text">
					<button id="cash-btn">OK</button>
				</div>

				<div id="pay-cash-conf">
					<h4>Amount paid by customer</h4>
					<h4>Excess amount</h4>
					<form id="cash-conf" action="/">
					<button id="cash-conf-btn" type = "submit">Payment confirm</button>
					</form>
				</div>

				<div id="pay-atm">
					<h4>Code</h4>
					<h4>Money</h4>
					<h4>Trading code</h4>
					<input type="text">
					<form id="atm-conf" action="/">
					<button type="submit" id="atm-conf-btn">Payment confirm</button >
					</form >
				</div>


			</div>
		</div>
	</div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
function updateTotal(){
	dishList = document.getElementsByClassName("dish-list")[0];
	dishes = dishList.children;
	var total = 0;
	for(dish of dishes){
		total = total+ parseInt(dish.children[2].innerText) * dish.children[3].value;
	}
	final = total *(100 - document.getElementById("discoutrate").value)/100;
	document.querySelector('#bill-total span').innerHTML = final;
	document.querySelector('#bill-total del').innerHTML = total
	
}
	// lấy thông tin của khách đã đặt bàn
	function getCustomerInfo() {
		var checkedValue = null;
		var inputElements = document.getElementsByClassName('checkbox-table');
		var customername = null, customerphone = null;
		var name_array = [], phone_array = [];

		for (var i = 0; inputElements[i]; ++i) {
			if (inputElements[i].checked) {
				checkedValue = inputElements[i].value;
				if ((inputElements[i].dataset.customername != null)
					|| (inputElements[i].dataset.customerphone != null)) {
					name_array.push(inputElements[i].dataset.customername);
					phone_array.push(inputElements[i].dataset.customerphone);
				}
			}
		}
		let flag = 1;
		for (var i = 0; i < name_array.length; i++) {
			flag = 1;
			for (var j = 0; j < name_array.length; j++) {
				if ((name_array[i] != name_array[j]) || (phone_array[i] != phone_array[j])) {
					alert("Khác Thông Tin Của Khách");
					flag = 0;
					break;
				}
			}
			if (!flag) {
				break;
			}
		}
		if (flag) {
			document.getElementById('name-input').setAttribute('value', name_array[0]);
			document.getElementById('phone-input').setAttribute('value', phone_array[0]);
		} else {
			document.getElementById('name-input').setAttribute('value', "");
			document.getElementById('phone-input').setAttribute('value', "");
		}
		name_array = [];
		phone_array = [];
	}
</script>
<script src="http://localhost:8080/js/main.js"></script>
<script src="http://localhost:8080/js/bill.js"></script>

</html>