<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="http://localhost:8080/css/main.css">

	<link rel="stylesheet" href="http://localhost:8080/css/event.css">

	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

	<link href="//fonts.googleapis.com/css?family=Roboto:300,400,700&subset=vietnamese" rel="stylesheet">

	<title>Event</title>

	<link rel="icon" type="x-icon" href="image\favicon.ico">

</head>

<body>
	<div id="container">
		<header>
			<h1 class="logo">
				<a href="#">Manager</a>
			</h1>

			<div class="search">
				<form th:action="@{/event/search}" method="GET">
					<input type="text" placeholder="search" th:name="eventName" required>
					<a href="#">
						<i class="material-icons">search</i>
					</a>
				</form>
			</div>

			<div class="home">
				<a href="#">
					<i class="material-icons">home</i>
				</a>
			</div>
		</header>

		<div id="main">
			<div class="menu">
				<ul>
					<li>
						<a href="/table">
							<i class="material-icons">event_seat</i>
							<span>Seat</span>
						</a>

					</li>

					<li>
						<a href="/menu">
							<i class="material-icons">menu</i>
							<span>Menu</span>
						</a>

					</li>

					<li class="active">
						<a href="/event">
							<i class="material-icons">event_available</i>
							<span>Event</span>
						</a>

					</li>

					<li>
						<a href="/membership">
							<i class="material-icons">person</i>
							<span>Membership</span>
						</a>

					</li>

					<li>
						<a href="/report">
							<i class="material-icons">note_alt</i>
							<span>Report</span>
						</a>

					</li>

					<li>
						<a href="/bill">
							<i class="material-icons">receipt_long</i>
							<span>Bill</span>
						</a>

					</li>

				</ul>
			</div>

			<div class="content content_event">

				<div class="event">
					<div class="event-item" th:each="event, event_index: ${events}">
						<img th:src="@{'/getimage/'+${event.url}}" alt="">
						<span th:id="${event_index.index}" th:text="${event.eventName}" th:data-url="${event.url}"
							th:data-eventid="${event.eventId}" th:data-eventname="${event.eventName}"
							th:data-discount="${event.discountRate}" th:data-starttime="${event.timeStart}"
							th:data-endtime="${event.timeEnd}" th:data-eventdescription="${event.description}"></span>
					</div>
				</div>
				<div th:if="${message}" th:text="${message}" id="message"></div>

				<form th:action="@{/event/new}" method="post" th:object="${event}" enctype="multipart/form-data">
					<div class="new_event">
						<ul>
							<li id="name_event">
								<span>Name event</span>
								<input type="text" class="text" th:name="eventName" required>
							</li>
							<li id="describe_event">
								<span>Event description</span>
								<input type="text" class="text" th:name="description" required>
							</li>
							<div id="poster_upload">
								<p>Poster</p>
								<label for="fileImage">Upload
								</label>
								<input type="file" th:name="files" id="fileImage" accept="image/png, image/jpeg"
									required style='display:none'/>
							</div>
							<!--<p>
								<img id="thumbnail" alt="Image Preview" />
							</p>-->
							<li id="start_event">
								<span>Start time</span>
								<input type="datetime-local" class="text" th:name="timeStart" required>
							</li>
							<li id="end_event">
								<span>End time</span>
								<input type="datetime-local" class="text" th:name="timeEnd" required>
							</li>
							<div class="discount">
								<li>
									<span>Sale</span>
									<p>Preferential rate<input type="text" class="text" th:name="discountRate"
											required>%</p>
								</li>
								<button>Select in menu</button>
							</div>
						</ul>
						<div class="end_popup">
							<button class="create_button" name="create" value="create">Create</button>
							<button class="close_button" name="close" value="close">Close</button>
						</div>
					</div>
				</form>
				<div th:if="${message}" th:data-mess="${message}" id="message">
					<script>alert($('#message').data('mess'));</script>
				</div>
				<div class="event-info-popup">
					<h2>Infomation</h2>
					<ul>
						<li>Name event
							<p class="event name">1</p>
						</li>
						<li>Event description
							<p class="event description">1</p>
						</li>
						<li>Start time
							<p class="start time">1</p>
						</li>
						<li>End time
							<p class="end time">1</p>
						</li>
						<li>Sale
							<p class="event sale">1</p>
						</li>
					</ul>
					<div>
						<!--<button type="button" id="deletebtn" action="#" method="GET">Delete</button >-->
						<button><a id="deletebtn" href="#" method="GET">Delete</a></button>
						<button class="close_if">Done</button>
					</div>
				</div>
				<div id="create_event">Create</div>
			</div>
		</div>
	</div>


</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="http://localhost:8080/js/main.js"></script>
<script src="http://localhost:8080/js/event.js"></script>
</html>