<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Home</title>
        <link rel="stylesheet" href="http://localhost:8080/css/homestyle.css">
        <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    </head>
    <body style="background-image: url('./image/bgimg.png');">
        <div class="top">
            <div class="top-welcome">Welcome!</div>
            <button class="top-home">
                <img src="image/homeicon.png" alt="">
            </button>
            <button class="top-login" onclick="location.href='/login'">
                <img src="image/login_home.png" alt="">
            </button>
        </div>

        <div class="content" >
            <div class="featured-dish">
                <div class="dish-head">
                    FEATURED DISHES
                </div>

                <div class="dish">
                    <div class="dish-info">
                        <div class="dish-name">Soup</div>
                        <div class="dish-price">20 USD</div>
                    </div>
                    <div class="dish-img">
                        <img src="image/soup.png" alt="">
                    </div>
                </div>

                <div class="dish">
                    <div class="dish-info">
                        <div class="dish-name">Hot Pot</div>
                        <div class="dish-price">100 USD</div>
                    </div>
                    <div class="dish-img">
                        <img src="image/hotpot.png" alt="">
                    </div>
                </div>

                <div class="dish">
                    <div class="dish-info">
                        <div class="dish-name">Spaghetti</div>
                        <div class="dish-price">30 USD</div>
                    </div>

                    <div class="dish-img">
                        <img src="image/spaghetti.png" alt="">
                    </div>
                </div>
            </div>

            <div class="event" style="background-image: url('./image/bgevent.png');">

                <div class="serve-meal">
                    <span class="title">
                        Let we serve your meal
                    </span>
                    <span>
                        Click to see more offer
                    </span>
                </div>

                <div class="show-event">
                    <div class="slideshow-container">
    
                        <div class="mySlides fade">
                            <img src="" style="width:100%">
                        </div>
                      
                        <div class="mySlides fade">
                            <img src="" style="width:100%">
                        </div>
                      
                        <div class="mySlides fade">
                            <img src="" style="width:100%">
                        </div>
                      
                    </div>
                      
                    <div style="text-align:center">
                        <span class="dot" onclick="currentSlide(1)"></span>
                        <span class="dot" onclick="currentSlide(2)"></span>
                        <span class="dot" onclick="currentSlide(3)"></span>
                    </div>
                </div>
            </div>

        </div>
        
    </body >
    <script src="http://localhost:8080/js/homescript.js"></script>
</html>