<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="css/login.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign in - Restaurant</title>
    <link rel="icon" type="x-icon" href="image\favicon.ico">
</head>
<body>
    <img src="image\login.png" alt="restaurant">
    
    <div class="login-box">
        <ul class="nav" style="width: 100%;">
            <li><a id="homeNav" href="#">Home</a></li>
            <h4>Quality creates Trust</h4>
        </ul>
        <h2 class="active">Sign in</h2>
        <hr>
        <form action = "/login" method = "GET">
            <input type="text" class="text" name="username">
            <span>username</span>
            <br>
            <br>
            <input type="password" class="text" name="password">
            <span>password</span>
            <br>
            <input type="checkbox" id="checkbox-1-1" class="custom-checkbox" />
            <label for="checkbox-1-1">Keep sign in?</label>
            
            <button class="signin">
                Sign in
            </button>
            <hr>
            <a href="#">Forgot password?</a>
        </form >
    </div>
</body>
</html>