<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="http://localhost:8080/css/main.css">
    <link rel="stylesheet" href="http://localhost:8080/css/membership.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Roboto:300,400,700&subset=vietnamese" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <title>Membership</title>
</head>
<body>
    <div id="container">
        <header>
            <h1 class="logo">
                <a href="#">Manager</a>
            </h1>

            <div class="search">
                <input type="text" placeholder="search">
                <a href="#">
                    <i class="material-icons">search</i>
                </a>
            </div>

            <div class="home">
                <a href="#">
                    <i class="material-icons">home</i>
                </a>
            </div>
        </header>

        <div id="main">
            <div class="menu">
                <ul>
                    <li>
                        <a href="/table">
                            <i class="material-icons">event_seat</i>
                            <span>Seat</span>
                        </a>
                        
                    </li>

                    <li>
                        <a href="/menu">
                            <i class="material-icons">menu</i>
                            <span>Menu</span>
                        </a>
                        
                    </li>

                    <li>
                        <a href="/event">
                            <i class="material-icons">event_available</i>
                            <span>Event</span>
                        </a>
                        
                    </li>

                    <li class="active">
                        <a href="/membership">
                            <i class="material-icons">person</i>
                            <span>Membership</span>
                        </a>
                        
                    </li>

                    <li>
                        <a href="#">
                            <i class="material-icons">note_alt</i>
                            <span>Report</span>
                        </a>
                        
                    </li>

                    <li>
                        <a href="/bill">
                            <i class="material-icons">receipt_long</i>
                            <span>Bill</span>
                        </a>
                        
                    </li>

                </ul>
            </div>

            <div class="content">
                <table id="customer-table">
                    <thead id="table-head">
                        <th>No.</th>
                        <th>Name</th>
                        <th>Phone</th>
                        <th>Point</th>
                        <th>Rank</th>
                    </thead >
                    <tbody class="member-list">
                    	<tr class="member" th:each="customer, customer_index : ${customers}">
							<td th:id="${customer_index.index}"
								th:data-customerid="${customer.customerId}"
								th:data-name="${customer.customerName}"
								th:data-phone="${customer.telephone}"></td>
							<td th:text="${customer.customerName}"></td>
							<td th:text="${customer.telephone}"></td>
							<td th:text="${customer.point}"></td>
							<td th:text="${customer.membership.name}"></td>
						</tr>
                    </tbody>
                </table>

                <button id="manage-btn">Manage discounts</button>
                <button id="add-btn">Add</button>

                <div id=action>
                    <button id="change-btn">Edit Info</button>
                    <button id="delete-btn">Delete</button>
                    <i class='bx bx-redo'></i>   
                </div>

                <div id="add">
                	<form th:action="@{/membership/new-customer}" method="post" enctype="multipart/form-data"> 
	                    <h3>Name</h3>
	                    <input type="text" th:name="customerName">
	                    <h3>Phone</h3>
	                    <input type="text" th:name="phone">
	                    <button id="add-cancel-btn" name="cancel" value="cancel">Cancel</button>
	                    <button id="add-done-btn" name="add" value="add">Add</button>
                    </form>
                </div>

                <div id="change">
                	<form th:action="@{/membership/edit-customer/}" method="post" enctype="multipart/form-data">
	                    
	                    <input id="edit-id" type="hidden"  th:name="customerId">
	                    <h3>Name</h3>
	                    <input id="edit-name" type="text" th:name="customerName">
	                    <h3>Phone</h3>
	                    <input id="edit-phone" type="text" th:name="phone">
	                    <button id="change-cancel-btn" name="cancel" value="cancel">Cancel</button>
	                    <button id="change-done-btn" name="edit" value="edit">Done</button>
                	</form>
                </div>

                <div id="delete">
                    <h3>Do you really want to delete this customer?</h3>
                    <a id="delete-yes-btn" href="#" method="GET"><button>Yes</button></a>
                    <button id="delete-no-btn">No</button>
                </div>

                <div id="manage">
                    <table id="manage-table">
                        <thead>
                            <th>Rank</th>
                            <th>Point Required</th>
                            <th>Discount Rate</th>
                        </thead>
                        
                        <tbody>
                        <tr th:each="rank, rank_index : ${memberships}">
							<td th:text="${rank.name}"></td>
							<td th:text="${rank.exp} "></td>
							<td th:inline="text">[[${rank.discountRate}]]%
								<button th:id="'discountChange' + ${rank_index.index}" class="manage-change-btn">Edit</button >
								<form th:id="'discountChange' + ${rank_index.index}" class="manage-form" th:action="@{/membership/edit-discountrate/}" method="post" enctype="multipart/form-data">
				                    <input id="edit-membershipid" type="hidden" th:name="customerId">
				                    <input id="edit-discountrate" type="text" th:name="customerName">
								</form >
							</td>
						</tr>
                        </tbody>
                    </table>
                    <button id="manage-done-btn">Done</button>
                </div>
                
                                
            </div>
        </div>
    </div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="http://localhost:8080/js/main.js"></script>
<script src="http://localhost:8080/js/membership.js"></script>
</html>