<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- main part -->
    <link rel="stylesheet" href="http://localhost:8080/css/main.css">

    <!-- menu part -->
    <link rel="stylesheet" href="http://localhost:8080/css/menu.css">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"rel="stylesheet">

    <link href="//fonts.googleapis.com/css?family=Roboto:300,400,700&subset=vietnamese" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

    <title>Menu</title>
    <link rel="icon" type="x-icon" href="image\favicon.ico">

</head>
<body>
    
    <div id="container">
        <header>
            <h1 class="logo">
                <a href="#">Manager</a>
            </h1>

             <div class="search">
              	<form th:action="@{/menu}">
					<input type="text" placeholder="search" th:name="combo_dish">
					<a href="#">
						<i class="material-icons">search</i>
					</a>  
              	</form>
            </div>

            <div class="home">
                <a href="/home">
                    <i class="material-icons">home</i>
                </a>
            </div>
        </header>

        <div id="main">
             <div class="menu">
                <ul>
                    <li>
                        <a href="/table">
                            <i class="material-icons">event_seat</i>
                            <span>Seat</span>
                        </a>
                        
                    </li>

                    <li class="active">
                        <a href="/menu">
                            <i class="material-icons">menu</i>
                            <span>Menu</span>
                        </a>
                        
                    </li>

                    <li>
                        <a href="/event">
                            <i class="material-icons">event_available</i>
                            <span>Event</span>
                        </a>
                        
                    </li>

                    <li>
                        <a href="/membership">
                            <i class="material-icons">person</i>
                            <span>Membership</span>
                        </a>
                        
                    </li>

                    <li>
                        <a href="#">
                            <i class="material-icons">note_alt</i>
                            <span>Report</span>
                        </a>
                        
                    </li>

                    <li>
                        <a href="/bill">
                            <i class="material-icons">receipt_long</i>
                            <span>Bill</span>
                        </a>
                        
                    </li>

                </ul>
            </div>

            <div class="content">
                <div class="menu_dish">
                  <h1>Menu Food</h1>
                  <ul class="ulDish" th:each="dish, dish_index: ${dishes}">
                        <li th:if="${dish.status}">
                           <img th:src="@{'getimage/'+${dish.url}}" alt="">
                           <span class="temp" th:id="${dish.dishId}"
                           		 th:text="${dish.getDishName()}"                         	
                          		 th:data-dishurl="${dish.url}"
                          		 th:data-dishid="${dish.dishId}"
                          		 th:data-dishname="${dish.dishName}"
                          		 th:data-dishprice="${dish.price}"
                          		 th:data-dishdescription="${dish.description}"
                          		 th:data-dishcategory="${dish.category}"
                          		 th:data-dishingredient="${dish.ingredient}"
                          		 th:data-dishfeatureddish="${dish.featureDish}"
                          		 th:data-dishstatus="${dish.status}">
                          		 
                           </span>
                        </li> 
                    </ul>

                     <!-- box dish info -->
                    <div class="box_dish_info">
                        <h2>Information Food</h2>
                        <ul>
                            <li>
                                Code: <span class="dish id">____</span>
                                                     
                            </li>

                            <li>
                                Name: <span class="dish name">____</span>
                                       
                            </li>

                            <li>
                                Price: <span class="dish price">____</span>
                                    
                            </li>

                            <li>
                                Description: <span class="dish description">____</span>
                             
                            </li>

                            <li>
                                Category: <span class="dish category">____</span>
                             
                            </li>

                            <li>
                                Ingredient: <span class="dish ingredient">____</span>
                             
                            </li>

                            <li>
                                Creation time: <span class="dish creation time">____</span>
                              
                            </li>

                            <li>
                                Modification time: <span class="dish modification time">____</span>
                             
                            </li>

                            <li>
                                Status of existence: <span class="dish status of existence">____</span>
                             
                            </li>

                        </ul>

                        <div class="info_button">
                            <button class="edit_Info" id="edit_dish">Edit</button>
                            <a href="#" method="GET" id="remove_dish0"><button id="remove_dish">Delete</button></a>
                            <button class="close_Info">Close</button>
                        </div>

                    </div>

                    <!-- box edit info food -->
                    <div class="box_add box_InfoFood">
                     <form th:action="@{/menu/edit-dish}" method="POST" enctype="multipart/form-data" >
                        <ul>
                      		<li>
                                <span>Code:</span>
                              	<input type="number" class="dish id" th:name="dishId" readonly>
                            </li>
                            <li>
                              	<span>Name:</span>
                              	<input type="text" class="dish name" th:name="dishName">
                            </li>

                            <li>
                                <span>Price</span>
                                <input type="number" class="dish price" th:name="dishPrice">
                            </li>

                            <li>
                                <span>Description</span>
                                <input type="text" class="dish description" th:name="dishDescription">
                            </li>

                            <li>
                                <span>Category</span>
                                <input type="text" class="dish category" th:name="dishCategory">
                            </li>

                            <li>
                                <span>Ingredient</span>
                                <input type="text" class="dish ingredient" th:name="dishIngredient">
                            </li>

                        </ul>

                        <div class="button_Dish">
                            <button name="done" value="done">Done</button>
                        </div>
                        </form>
                    </div>

                            <!-- box add dish -->
                    <div class="box_add_dish box_add">
                    	<h2>Add New Dish</h2>
						<br>
							<span>Enter New Dish Information:</span>
						<br>
						<form th:action="@{/menu/new-dish}" method="POST" enctype="multipart/form-data" >
                       		<ul>
                        
                            <li>
                                <span>Name</span>
                                <input type="text" th:name="dishName" placeholder="Chicken soup" />
                            </li>

                            <li>
                                <span>Price</span>
                                <input type="number"  th:name="dishPrice" placeholder="100000"/>
                            </li>

                            <li>
                                <span>Description</span>
                               <input type="text" th:name="dishDescription" placeholder="Chicken soup"/>
                            </li>

                            <li>
                                <span>Category</span>
                               <input type="text" th:name="dishCategory" placeholder="Chicken" />
                            </li>

                            <li>
                                <span>Ingredient</span>
                             	<input type="text" th:name="dishIngredient" placeholder="Chicken, Egg" />
                            </li>

                        	</ul>
							<div id="poster_upload">
								<p>Poster</p>
								<label for="fileImage">Upload</label>
                              	<!--  <input type="file" onchange="encodeImageFileAsURL(this)" id="upload" style="display: none;"/> -->
								<input type="file" th:name="files" id="fileImage" accept="image/png, image/jpeg" style="display:none" />
							</div>
							
                        	<div class="button_Dish">
                           		<button class="close_Dish" name="close" value="close">Close</button>
                           		<button class="done_Dish" name="create" value="create">Done</button>
                        	</div>
                        </form> 
                    </div>

                    <!-- add dish -->
                    <button class="add_Dish addMenu_button">Add</button>
                </div>

                 <!-- Menu Combo -->
                <div class="menu_combo">
                  <h1>Menu Combo</h1>
                  <ul class="ulCombo" th:each="combo, combo_index: ${combos}">                       
                        <li th:if="${combo.status}">
                           <img th:src="@{'getimage/'+${combo.url}}" alt="">
                           <span class="temp2" th:id="${combo.comboId}+'_'"
                           		 th:text="${combo.getComboName()}"                         	
                          		 th:data-combourl="${combo.url}"
                          		 th:data-comboid="${combo.comboId}"
                          		 th:data-comboname="${combo.comboName}"
                          		 th:data-comboprice="${combo.price}"
                          		 th:data-combodescription="${combo.description}"
                          		 th:data-combodiscountrate="${combo.discountRate}"
                         		 th:data-combonumberofpeoplerecommend="${combo.numberOfPeopleRecommend}"
                          		 th:data-combostatus="${combo.status}">
                          		 
                           </span>
                        </li> 
                    </ul>

                    <!-- box add combo -->
                  
                    <div class="box_add_combo box_add">
                     <form th:action="@{/menu/new-combo}" method="post" enctype="multipart/form-data" >
                        <ul>
                            <li>
                                <span>Name</span>
                                <input type="text" th:name="comboName" placeholder="Chicken combo">
                            </li>

                            <li>
                                <span>Price</span>
                                <input type="number" th:name="comboPrice" placeholder="200000">
                            </li>

                            <li>
                                <span>Description</span>
                                <input type="text" th:name="comboDescription" placeholder="Combo for family">
                            </li>

                            <li>
                                <span>Amount of people</span>
                                <input type="number" th:name="comboAmountOfPeople" placeholder="5">
                            </li>

                            <li>
                                <span>Discount rate</span>
                                <input type="number" th:name="comboDiscountRate" placeholder="20">
                            </li>
                            <li>
                            	 <input type="text" id="list_of_dishes_in_combo" th:name="list_of_dishes_in_combo" value="0">
                            </li>
                        </ul>
                        <div id="poster_upload_combo">
							<p>Poster Combo</p>
                            <label for="fileImageCombo">Upload</label>
							<input type="file" th:name="files" id="fileImageCombo" accept="image/png, image/jpeg" style="display:none" />
						</div>

                        <div class="button_Combo">
                            <button class="add_or_remove_food" type="button" name="add_remove_dish" value="add_remove_dish">Add/Remove food</button>
                            <button class="done_Combo" name="create" value="create">Done</button>
                        </div>
                        </form>
                    </div>

                    <!-- Combo Detail Main box -->
                    <div class="boxComboItem">
                        <h2>Combo Infomation</h2>
                        <ul>
                           	<li>Code:              <span class="combo id">____</span></li>
                            
                            <li>Name:              <span class="combo name">____</span></li>

                            <li>Price:             <span class="combo price">____</span></li>

                            <li>Description:       <span class="combo description">____</span></li>

                            <li>Creation time:     <span class="combo creation time">____</span></li>

                            <li>Modification time: <span class="combo modification time">____</span></li>

                            <li>Amount of people:  <span class="combo amount of people">____</span></li>

                            <li>Combo discount rate:<span class="combo discount rate">____</span></li>

                        </ul>

                        <div class="button_boxComboItem">
                             <button class="editCombo_button">Edit</button>
                             <a href="#" method="GET" id="remove_combo0"><button id="remove_combo">Delete</button></a>
                             <button class="close_comboItem">Close</button>
                        </div>
                    </div>
                    
                    
                    <!-- ------ End combo ---- -->
                    <!-- ---- Exit combo item ---- -->
                    <div class="box_add boxComboEdit">
                     <form th:action="@{/menu/edit-combo}" method="post" enctype="multipart/form-data" >
                        <ul>
                           <li> 
                           		<span>Code:  </span>
                           		<input type="number" class="combo id" th:name="comboId" readonly>
                           </li>
                            
                           <li>
                            	<span>Name:</span>              
                              	<input type="text" class="combo name" th:name="comboName">
 						   </li>
                           <li>
                           		<span>Price:</span>              
                              	<input type="number" class="combo price" th:name="comboPrice">
						   </li>
							
                            <li>
                            	<span>Description:</span>      
								<input type="text" class="combo description" th:name="comboDescription">
							</li>
                            <li>
                           	 	<span>Amount of people:</span> 
                           	 	<input type="number" class="combo amount of people" th:name="comboAmountOfPeople">
							</li>
                            <li>
                             	<span>Combo discount rate:</span> 
								<input type="number" class="combo discount rate" th:name="comboDiscountRate">
                       		</li>
                       		 <li>
                            	 <input type="text" id="list_of_dishes_in_combo_edit" th:name="list_of_dishes_in_combo_edit" value="0">
                            </li>
                        </ul>

                        <div class="button_editCombo">
                          <button class="change_food" type="button" name="change_dish" value="change_dish">Change Food</button>
                          <button name="done"  value="done">Done</button>
                        </div>
                         </form>
                    </div>
                    
                     <!-- add/remove food -->
                    <div class="addFoodCombo">
                        <div class="exit">
                            <i class="fas fa-times"></i>
                        </div>
                        <ul class="listChooseFood" th:each="dish, dish_index: ${dishes}" >
                            <li th:if="${dish.status}">
                                <span>
                                    <img th:src="@{'getimage/'+${dish.url}}" alt="">
                                </span>
                                <span th:id="${dish_index.index} +'!' "
                           		 th:text="${dish.getDishName()}" name="listFoodValue">
                           		 </span>
                                <span>
                                    <input type="checkbox" name="listFood">
                                </span>
                            	<input name="count" type="hidden"   >
                                
                            </li>

                        </ul>
                    </div>
                    
                    <!-- button add combo -->
                    <button class="add_combo addMenu_button">Add</button>
                    
                </div>
            </div>
        </div>
    </div>

</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="http://localhost:8080/js/main.js"></script>
<script src="http://localhost:8080/js/menu.js"></script>
</html>