<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="http://localhost:8080/css/main.css">
	<link rel="stylesheet" href="http://localhost:8080/css/report.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Roboto:300,400,700&subset=vietnamese" rel="stylesheet">
    <title>Nhà Hàng Ẩm Thực</title>
</head>
<body>
    <div id="container">
        <header>
            <h1 class="logo">
                <a href="#">Manager</a>
            </h1>

            <div class="search">
                <input type="text" placeholder="search">
                <a href="#">
                    <i class="material-icons">search</i>
                </a>
            </div>

            <div class="home">
                <a href="#">
                    <i class="material-icons">home</i>
                </a>
            </div>
        </header>

        <div id="main">
            <div class="menu">
                <ul>
                    <li>
                        <a href="/seat">
                            <i class="material-icons">event_seat</i>
                            <span>Seat</span>
                        </a>
                        
                    </li>

                    <li>
                        <a href="/menu">
                            <i class="material-icons">menu</i>
                            <span>Menu</span>
                        </a>
                        
                    </li>

                    <li>
                        <a href="/event">
                            <i class="material-icons">event_available</i>
                            <span>Event</span>
                        </a>
                        
                    </li>

                    <li>
                        <a href="/membership">
                            <i class="material-icons">person</i>
                            <span>Membership</span>
                        </a>
                        
                    </li>

                    <li class="active">
                        <a href="/report">
                            <i class="material-icons">note_alt</i>
                            <span>Report</span>
                        </a>
                        
                    </li>

                    <li>
                        <a href="/bill">
                            <i class="material-icons">receipt_long</i>
                            <span>Bill</span>
                        </a>
                        
                    </li>

                </ul>
            </div>

            <div class="content">

                <div class="tab">
                    <button class="tablinks" onclick="openTab(event, 'bill-history')">Bill History</button>
                    <button class="tablinks" onclick="openTab(event, 'chart')">Chart</button>
                </div>

                <div class="tabcontent" id="bill-history">
					<table id="paid-bill-table">
						<thead>
							<th>Bill ID</th>
							<th>Total</th>
							<th>Payment Time</th>
						</thead>
						<tbody class="paid-bill-list">
							<tr class="paid-bill" th:each="bill,bill_index : ${bills}">
								<td th:text="${bill.billId}"></td>
								<td th:text="${bill.finalTotal}"></td>
								<td th:text="${bill.timePayment}"></td>
							</tr>
						</tbody>
					</table>
                </div>

                <div class="tabcontent" id="chart">
                    <h2>Report Graph</h2>

                    <div class="input-time">
                        <form action="">
                            <label for="start-day">From </label>
                            <input type="date" id="start-day" name="start-day" min="2015-01-01">
                        </form>
                        <form action="">
                            <label for="end-day">To </label>
                            <input type="date" id="end-day" name="end-day" min="2015-01-01">
                        </form>
                    </div>

                </div>

            </div>
        </div>
    </div>
</body>
<script src="http://localhost:8080/js/main.js"></script>
<script src="http://localhost:8080/js/report.js"></script>
</html>